*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #FFCDBD;
    overflow-x: hidden;
}

.navBar{
    list-style-type: none;
    background-color: #ffaf9d;
    overflow: hidden;
    padding: 2em;
    width:100%;
    position:fixed;
}

.NavLinks{
    display:inline;
    text-align:center;
}

li a {
    text-align: center;
    text-decoration: none;
    color: #A44A3F;
    font-size: 1.5 em;
    font-family: cursive;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom:1.5em;
    gap:30px;
    align-items:center;
}
li a :hover{
    color:pink;
}

.firstPicture{
    width: 100%;
    height:auto
}

.introImage{
    width:50%;
    height:auto;
}

.homeIntro{
    display:flex;
    align-items: center;
    gap: 20px;
    padding-top: 13em;
}
.introText{
    flex:1;
    min-width:250px;
    font-size: 25px;
    font-family: cursive;
}

.parallaxContainer{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height: 900px;
    background-attachment: fixed;
    background-image:url("../assets/homeImage.jpg");
    background-position:center;
    background-size:cover;
    background-color: rgba(0,0,0,0,0.4);
}

.parallaxCharacterContainer{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    background-attachment: fixed;
    background-image:url("../assets/everyone.jpg");
    background-position:center;
    background-size:contain;
    background-color: rgba(0,0,0,0,0.4);
}

.parallaxText{
    color:rgb(210, 106, 65);
    font-size: 40px;
    font-family: cursive;;
    text-align: center;
    text-decoration:solid;
}

.parallaxCharacterText{
    color:whitesmoke;
    font-size: 40px;
    font-family: cursive;;
    text-align: center;
    text-decoration:solid;
}


.barrier{
    display: flex;
    background-color:#A44A3F;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}


#description{
    font-size: 25px;
    font-family: cursive;
    padding: 2em;
    text-align: center;
}


.characterProfile{
 display:flex;
 align-items:start;
 gap:20px;
 padding-top:1em;
 margin-bottom: 5em;
    
}

.characterText{
    flex:1;
    font-size:30px;
    font-family:cursive;
}

.characterHeading{
    font-size: 50px;
    color:#A44A3F;
    font-family:cursive;
    margin-right: 50%;
    margin-left: 50%;
}

#taichiPicture{
    width:50%;
    height:auto;
}

.quickLinks{
    font-size:40px;
    margin-top: 15px;
    margin-bottom:40px;
    padding-left: 0px;
}

#quickLinkHeading{
    font-size: 50px;
    color:#A44A3F;
    font-family:cursive;
}

#heart{
    display:flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: cursive;
    max-width: fit-content;
    font-size:45px;
    margin-top: 1em;
    margin-bottom: 1em;
    text-shadow:0 0 2px rgba(0, 0, 0, 0.9),
    0 1px 4px rgba(0, 0, 0, 0.8);
}

.parallaxQuizContainer{
     display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    background-attachment: fixed;
    background-image:url("../assets/cover.webp");
    background-position:center;
    background-size:contain;
    background-color: rgba(0,0,0,0,0.4);
}

#question{
    text-align: center;
    margin-top:3em;
    font-size: 30px;
    padding-bottom: 4em;
}

#answers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:100px;
}

#answer1{
padding:3em;
font-size: 30px;
border-radius: 10px;
background-color:#ffaf9d;
border-width:5px;
border-color: #A44A3F;
color:#8c3226;
font-family:cursive;
}

#answer2{
    padding:3em;
    font-size:30px;
    border-radius: 10px;
    border-width:5px;
    border-color: #A44A3F;
    background-color:#ffaf9d;
    color:#8c3226;
    font-family:cursive;
}

#answer1:hover{
    background-color: palevioletred;
    color: #fff;
}

#answer2:hover{
    background-color: palevioletred;
    color: #fff;
}

#restartButton{
    border-color: #A44A3F;
    background-color:#ffaf9d;
    color:#8c3226;
    border-radius: 10px;
    border-width:5px;
    margin-top: 1em;
    margin-left:2em;
    padding:2em;
    font-size:20px;
}

#restartButton:hover{
    background-color: palevioletred;
    color: #fff;
}

#resultScore{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    font-size: 30px;
    font-family:cursive;
    margin-top:3em;
    margin-bottom:1em;
}

#karutaParallaxContainer{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    background-attachment: fixed;
    background-image:url("../assets/karuta.jpg");
    background-position:center;
    background-size:contain;
    background-color: rgba(0,0,0,0,0.4);
}

#karutaHeading{
    font-size:60px;
    color:white;
    text-shadow:0 0 2px rgba(0, 0, 0, 0.9),
    0 1px 4px rgba(0, 0, 0, 0.8);
}









